<%= javascript_pack_tag 'profiles' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <div>
      <h1> <%= @profile.name %> </h1>
    </div>

    <div>
      <div>
        <%= image_tag @profile.github_account.avatar_url %>
      </div>
      <div id="profile-details">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">  <b> Github Account: </b> <%= link_to @profile.github_account.login, @profile.github_account.html_url %> </li>
          <li class="list-group-item"> <b> Location: </b> <%= @profile.github_account.location %>
          <li class="list-group-item"> <b> Company: </b> <%= @profile.github_account.company %>
          <li class="list-group-item"> <b> Bio: </b> <%= @profile.github_account.bio %>
          <li class="list-group-item"> <%= link_to 'Edit Profile', edit_profile_path(@profile) %> </li>
          <li class="list-group-item"> <%= link_to 'Log Out', logout_path, method: :delete %> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="profile-repositories">
      <div class="profile-repositories-header">
        <h1>Monitoring Github Repositories</h1>
      </div>
      <div class="profile-repositories-body">
        <div id="profile-repositories-btn-container">
          <button class="btn btn-primary"> Add Repository </button>
          <button class="btn btn-success"> Sync with GitHub </button>
        </div>

        <ul class="list-group">
          <% @profile.github_repositories.monitoring.each do |repo| %>
            <li class="list-group-item list-group-item-action list-group-item-primary"> <%= link_to repo.name, repo.html_url %> </li>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-danger"> <b> Actions: </b> <%= repo&.monitoring_configuration&.notification_types %> </li>
              <li class="list-group-item list-group-item-action list-group-item-warning"> <%= link_to 'Edit Monitoring Settings', edit_github_repository_path(repo) %> </li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div id="profile-github-events">
      <div id="profile-github-events-header">
        <h1> Github Events Feed </h1>
      </div>
      <div id="profile-github-events-body">
        <% if @profile.github_account.events.any?  %>
          <% @profile.github_account.events.order(created_at: :desc).limit(10).each do |event| %>
            <ul class="list-group">
              <li class="list-group-item"> Event Type: <%= event.type %> </li>
              <li class="list-group-item"> Action: <%= event.action %> </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

