<%= javascript_pack_tag 'profiles' %>

<p id="notice"><%= notice %></p>

<div>
  <h1> <%= @profile.name %> </h1>
</div>

<div>
  <div>
    <%= image_tag @profile.github_account.avatar_url %>
  </div>
  <div>
    <ul>
      <li>Github Account: <%= link_to @profile.github_account.login, @profile.github_account.html_url %> </li>
      <li> Location: <%= @profile.github_account.location %>
      <li> Company: <%= @profile.github_account.company %>
      <li> Bio: <%= @profile.github_account.bio %>
      <li> <%= link_to 'Edit Profile', edit_profile_path(@profile) %> </li>
      <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>
     </ul>
  </div>
</div>

<div>
  <div>
    <h1>Github Repositories</h1>
  </div>
  <div>
    <ul>
      <% @profile.github_repositories.each do |repo| %>
        <li> <%= link_to repo.name, repo.html_url %> </li>
        <ul>
          <li> <%= repo.monitoring_message %> </li>
          <li> <%= link_to 'Edit Monitoring Settings', edit_github_repository_path(repo) %> </li>
        </ul>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <div>
    <h1> Most Recent Github Events </h1>
  </div>
  <div>
    <% if @profile.github_account.events.any? %>
      <% @profile.github_account.events.order(created_at: :desc).limit(10).each do |event| %>
        <li> Event Type: <%= event.type %> </li>
        <li> Action: <%= event.action %> </li>
      <% end %>
    <% end %>
  </div>
</div>
