<%= form_with(model: github_repository) do |form| %>
  <% if github_repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(github_repository.errors.count, "error") %> prohibited this github_repository from being saved:</h2>

      <ul>
        <% github_repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="repository-state">
    <div class="form-check">
      <%= form.check_box :aasm_state, {checked: github_repository.aasm_state == 'active', class: 'form-check-input' }, :active, :inactive %>
      <%= form.label 'Monitor Notifications for this Repository', class: "form-check-label" %>
    </div>
  </div>

  <% if github_repository.active? %>
    <div id="repository-monitoring-configuration">
      <%= form.fields_for :monitoring_configuration do |config| %>
        <div class="form-group">
          <%= config.label 'Select the type of notifications you want to receive', class: 'form-label' %>
          <%= config.select :notification_types, GithubRepositoryMonitoringConfiguration::NOTIFICATION_TYPES, { }, multiple: true, class: 'selectpicker form-control', 'multiple data-selected-text-format': 'count', 'data-width':'fit' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update Repository', class:"btn btn-success" %>
  </div>
<% end %>
