<p id="notice"><%= notice %></p>

<h1>Your Github Repositories</h1>
<div id="profile-repositories-btn-container">
  <%= button_to "Sync with Github",{ action: "sync" } , { class: 'btn btn-success'} %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Monitoring Status</th>
      <th scope="col">Notification Types</th>
      <th scope="col">Contributors</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @github_repositories.each do |repo| %>
      <tr>
        <td> <%= repo.name %> </td>
        <td> <%= repo.active? ? "\u{2705}" : "\u{1F6AB}" %> </td>
        <td> <%= repo&.monitoring_configuration&.notification_types&.join(', ') %>
        <td> <%= repo&.monitoring_configuration&.monitoring_contributors&.map(&:contributor)&.map(&:login)&.join(', ') %>
        <td><%= link_to 'Show', repo %>, <%= link_to 'Edit', edit_github_repository_path(repo) %>, <%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
